
<form method="POST" action="get_info_city">
    {% csrf_token %}
    
        <input type="text" name="g_ifsc" id="your_name" placeholder="Bank Name"/>
        <input type="text" name="city" id="your_name" placeholder="City"/>

        <input type="submit" name="signin" id="signin" value="Submit"/>
        
        {% for details in detail %}
        
        {% if g_ifsc == details.name and city == details.city %}
        <table style="width: 58px; margin-left: auto; margin-right: auto;" border="3" cellspacing="5" cellpadding="5">
            <tbody>
            <tr>
            <td style="width: 44px;">Bank</td>
            <td style="width: 10px;">
            <div>
            <div>{{ details.name }}</div>
            </div>
            </td>
            </tr>
            <tr>
            <td style="width: 44px;">IFSC</td>
            <td style="width: 10px;">
            <div>
            <div>{{ details.ifsc }}</div>
            </div>
            </td>
            </tr>
            <tr>
            <td style="width: 44px;">City</td>
            <td style="width: 10px;">
            <div>
            <div>{{ details.city }}</div>
            </div>
            </td>
            </tr>
            <tr>
            <td style="width: 44px;">Address</td>
            <td style="width: 10px;">
            <div>
            <div>{{ details.address }}</div>
            </div>
            </td>
            </tr>
            </tbody>
            </table>
            
        {% endif %}
    
        {% endfor %}
        
       

</form>